<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.api.testMybatis.dao.UserMapper" >

<select id="getUserNameById" resultType="String">
    SELECT stu_name from student where stu_id=#{0};
</select>

</mapper>